*{
  padding: 0;
  margin: 0;
  font-family:'Poppins';
}
::-webkit-scrollbar{
  display: none;
}
#header{
  position: fixed;
  width:100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 7.5px 15px;
}
.header2{
  width:100%;
  background-color: #e7e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.covid{
  text-decoration: none;
  border: none;
  color: white;
  font-family: 'Ruda', sans-serif;
  text-align: center;
  font-size: 1.9vh;
  text-transform: uppercase;
  font-weight: 400;
}
.covid:hover{
  text-decoration: none;
  color: white;
}
.qq{
  padding-right:3vw;
}
#logo{
  padding: 0;
  height: 9vh;
  width: 19.5vw;
}
.btn-group{
  position: fixed;
  width:12vw;
  margin-right: 1vw;
  margin-top: 2.4vh;
  margin-bottom: 2.4vh;
  font-size: 3vw;
}
#mbtn{
  background-color: #f14a47;
  color: white;
  font-family: 'Poppins';
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}
.sec2{
  background-color: white;
  width: 100%;
  padding-top: 17.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 950px) {
  .header1{
      width:100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .b1{
      width: 100%;
      background-color: #f14a47;
      height: 4.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .b2{
      width: 100%;
      background-color: #363636;
      height: 4.5vh;
      display: flex;
      justify-content:space-evenly;
      align-items: center;
  }
  .lolbtn{
      display: none !important;
  }
  .qq{
      font-size: 1.5vh;
  }
  .btn-group{
      width:30vw;
  }
  #logo{
      width:35vw;
  }
  #mbtn{
      font-size: 2vh;
  }
  .bd{
      font-weight: 500;
      font-family: "Ruda",sans-serif;
      margin-top: 1vh;
      max-width:80vw;
      font-size: 1.5vh;
  }
  .pl{
      font-size: 1.75vh;
      color: black;
  }
}
@media screen and (min-width: 1000px) {
  ids {
    height: 200vh;
  }
  .header1{
      width:100%;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .b1{
      width: 42.5%;
      background-color: #f14a47;
      height: 4.5vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .b2{
      width: 57.5%;
      background-color: #363636;
      height: 4.5vh;
      display: flex;
      justify-content:flex-end;
      align-items: center;
  }
  .qaz{
      display: none !important;
  }
  .bd{
      font-weight: 500;
      font-family: "Ruda",sans-serif;
      margin-top: 1vh;
      max-width:50vw;
      font-size: 2vh;
  }
  .pl{
      font-size: 2.25vh;
      color: black;
  }
}
.heading{
  font-family: 'Poppins';
  font-size: 2vw;
  font-weight: bolder;
  margin: auto;
}
.dropdown-item{
  font-family: 'Poppins';
}
.resbtns{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.lolbtn{
text-decoration: none;
text-align: center;
border: none;
background-color: transparent;
color:#545252;
text-transform: uppercase;
font-weight: 550;
letter-spacing: -0.1vh;
font-family: 'Ruda',sans-serif;
font-size: 2.15vh;
padding-right:2.5vw;
height: 100%;
border: none;
}
.lolbtn:hover{
text-decoration: none;
color: #fec258;
}
.masthead {
    padding: 2rem 0 5rem;
    position: relative;
    /* background-color: #f04b47; */
    background-color: rgb(29, 150, 255);
    /* background-image: url(),linear-gradient(45deg,#f04b47 0%,#f04b47 100%); */
    background-image: url(),linear-gradient(45deg,rgb(29, 150, 255) 0%,rgb(29, 150, 255) 100%);
    background-size: cover;
    z-index: 0;
}
.page-top {
    /* background-color: #f04b47; */
    background-color: rgb(29, 150, 255);
    /* border-bottom: 5px solid #CCC; */
    /* border-top: 5px solid #f04b47; */
    border-top: 5px solid rgb(29, 150, 255);;
    margin-bottom: 35px;
    min-height: 50px;
    padding: 0;
    padding: 20px 0;
    position: relative;
    text-align: left;
}

#carbonads {
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    line-height: 3rem;
    background-color: rgba(248,249,250,.15);
    box-shadow: 0 0 1rem 0.5rem rgb(33 37 41 / 10%);
}

.page-top ul.breadcrumb {
    background: none;
    margin: -3px 0 0;
    padding: 0;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.masthead svg.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
}
.card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.box-shadow-common {
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    border-radius: 4px;
    /* border: 1px solid #eee; */
}

.prog-list-pnl span {
    background: #ddd;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 12px 15px;
    border-radius: 4px 4px 0 0;
    font-weight: 500;
}
.bg-grey {
    background: #363636!important;
}
.link-text{
    text-decoration: none !important;
    color: #363636;
}

p {
    color: #777777;
    line-height: 24px;
    margin: 0 0 20px;
}

@media (min-width: 720px) {
        .scrollable{
            height: 550px !important;
            overflow-y: scroll !important
        }
}

.active{
    color:#f04b47;
}

.mb-0 > a {
    display: block;
    position: relative;
  }
  .mb-0 > a:after {
    /* content: "\f078"; fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
  }
  .mb-0 > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
    
    color:  #f04b47;
  }
  .mb-0 > a[aria-expanded="true"]{
    color:  #f04b47;
  }

  .mb-0 > a[aria-expanded="false"]:after {
    content: "\f078"; /* fa-chevron-down */
    
    color:  rgb(29, 150, 255);
  }
  .mb-0 > a[aria-expanded="false"] {
    color:  rgb(29, 150, 255);
  }

  .collapsed{
    font-size: 16px !important;
    color: rgb(29, 150, 255);
  }
  .num{
    margin-right: 2%;
  }
  .nsc::-webkit-scrollbar {
    width: 11px;
  }
  .nsc{
    margin-top: 5vh;
  }
  html {
    --thumbBG: lightgrey;
  }
  body::-webkit-scrollbar {
    width: 11px;
  }
  body::-webkit-scrollbar-track {
    background: transparent;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
  }
  .nsc::-webkit-scrollbar-track {
    background: transparent;
  }
  .nsc::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
  }
.dvv{
  margin-top: -15vh;
}