*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
#header{
    position: fixed;
    width:100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 7.5px 15px;
}
.header2{
    width:100%;
    background-color: #e7e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.covid{
    text-decoration: none;
    border: none;
    color: white;
    font-family: 'Ruda', sans-serif;
    text-align: center;
    font-size: 1.9vh;
    text-transform: uppercase;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.covid:hover{
    text-decoration: none;
    color: white;
}
.qq{
    padding-right:3vw;
}
#logo{
    padding: 0;
    height: 9vh;
    width: 19.5vw;
}
.btn-group{
    position: fixed;
    width:12vw;
    margin-right: 1vw;
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
    font-size: 3vw;
}
#mbtn{
    background-color: #f14a47;
    color: white;
    font-family: 'Poppins';
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}
.sec2{
    background-color: white;
    padding-top: 15.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download{
    position: fixed;
    right: 1vw;
    bottom: 1vh;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: black;
    background-color: white;
    font-family: 'Poppins';
    font-weight: 600;
    transition: 1s;
}
#download:hover{
    color: white;
    background-color: black;
}
.ids{
    width: 70vw;
    box-shadow: rgba(241,74,71, 0.4) 5px 5px, rgba(241,74,71, 0.3) 10px 10px, rgba(241,74,71, 0.2) 15px 15px, rgba(241,74,71, 0.1) 20px 20px, rgba(241,74,71, 0.05) 25px 25px, rgba(241,74,71, 0.4) -5px 5px, rgba(241,74,71, 0.3) -10px 10px, rgba(241,74,71, 0.2) -15px 15px, rgba(241,74,71, 0.1) -20px 20px, rgba(241,74,71, 0.05) -25px 25px;
}
@media screen and (max-width: 950px) {
    #download{
        right:2vw;
        bottom:2vh;
    }
    .header1{
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .be1{
        width: 100%;
        background-color: #f14a47;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .be2{
        width: 100%;
        background-color: #363636;
        height: 4.5vh;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
    }
    .lolbtn{
        display: none !important;
    }
    .qq{
        font-size: 1.5vh;
    }
    .btn-group{
        width:30vw;
    }
    #logo{
        width:35vw;
    }
    #mbtn{
        font-size: 2vh;
    }
    .sec2{
        padding-top: 18vh;
    }
    .navbtn{
        display: flex !important;
        flex-direction: column !important;
    }
    .bb{
        font-size: 1vh !important;
        text-align: center !important;
    }
    .sec2{
        padding-top: 23vh;
    }
  }
  @media screen and (min-width: 1000px) {
    ids {
      height: 200vh;
    }
    .header1{
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .be1{
        width: 42.5%;
        background-color: #f14a47;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .be2{
        width: 57.5%;
        background-color: #363636;
        height: 4.5vh;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
    .qaz{
        display: none !important;
    }
    .sec2{
        padding-top: 15.5vh;
    }
  }
.heading{
    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: bolder;
    margin: auto;
}
.dropdown-item{
    font-family: 'Poppins';
}
.resbtn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.lolbtn{
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: transparent;
    color:#545252;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: -0.1vh;
    font-family: 'Ruda',sans-serif;
    font-size: 2.15vh;
    padding-right:2.5vw;
    height: 100%;
    border: none;
}
.lolbtn:hover{
    text-decoration: none;
    color: #fec258;
}
.sec2{
    background-color: white;
    width: 100%;
    height: 85vh;
    max-height: 85vh;
    border-top-style: solid;
    border-top-width: 0.1vh;
}
.heading{
    font-family: 'Poppins';
    font-size: 3.2vw;
    font-weight: bolder;
    margin: auto;
}
.navigator{
    position: fixed;
    z-index: 500;
    height: 7.2vh;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: rows;
    text-align: center;
    justify-content: center;
}

.disbody{
    z-index: 500;
    width: 100vw;
    height:79.9vh;
    border-top-style: solid;
    border-top-width: 0.1vh;
}
.body1{
    width: 100%;
    background-color: transparent;
}
.body2{
    width: 100%;
    background-color: transparent;
    display: none;
}
.body3{
    width: 100%;
    background-color: transparent;
    display: none;
}
.body4{
    width: 100%;
    background-color: transparent;
    display: none;
}
.b1{
    position: absolute;
    background-color: blueviolet;
    z-index: 500;
    height: 100vh;
    max-height: 100vh;
    background-image: url("./images/img2.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b2{
    position: absolute;
    background-color: blueviolet;
    z-index: 500;
    height: 100vh;
    max-height: 100vh;
    background-image: url("./images/img2.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.b3{
    position: absolute;
    background-color: blueviolet;
    z-index: 500;
    height: 100vh;
    max-height: 100vh;
    background-image: url("./images/img2.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.b4{
    position: absolute;
    background-color: blueviolet;
    z-index: 500;
    height: 100vh;
    max-height: 100vh;
    background-image: url("./images/img2.jpg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.navbtn{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

@media screen and (max-width: 950px) {
    .bb{
        font-family: 'Poppins';
        font-size: 1.5vw;
        margin-left: 0.3vw;
        margin-right: 0.3vw;
        padding: 2vw !important;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .bb{
        font-family: 'Poppins';
        margin-left: 0.3vw;
        margin-right: 0.3vw;
        padding: 2vw !important;
    }
  }
.bbn{
    font-family: 'Poppins';
    border-right-style: solid !important;
    border-right-width: 0.1vw !important;
    border-left-style: solid !important;
    border-left-width: 0.1vw !important;
}
.bbn:hover{
    background-color: #007bff !important;
    color: white !important;
}
ul{
    list-style-type:circle;
}
.vision{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    height:50vh;
    width:70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}
.hv1{
    text-align: center;
    margin-bottom: 2.5vw;
    font-family: 'Poppins';
    font-weight: bold;
}
.paravision{
    height: auto;
    width: 50vw;
    overflow: scroll;
}
.pv1{
    text-align: center;
}
.pv2{
    text-align: center;
}
.mission{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    height:50vh;
    width:95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}
.hm1{
    text-align: center;
    margin-bottom: 2.5vw;
    font-family: 'Poppins';
    font-weight: bold;
}
.paramission{
    height: auto;
    width: 87vw;
    overflow: scroll;
}
.pm1{
    text-align: center;
}
.ga{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    height:60vh;
    width:90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}
.hga1{
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
}
.paraga{
    height: auto;
    width: 70vw;
    overflow-y: scroll;
}
ul{
    padding-left:5vw;
}
.pga1{
    text-align: left;
    font-family: 'Poppins';
}
.disbody1{
    z-index: 500;
    width: 100vw;
    height:79vh;
    border-top-style: solid;
    border-top-width: 0.1vh;
    margin-top: 7.2vh;
}
.body11{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.body21{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.body31{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.body41{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.disbody2{
    z-index: 500;
    width: 100vw;
    height:79vh;
    border-top-style: solid;
    border-top-width: 0.1vh;
    margin-top: 7.2vh;
}
.body12{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.body22{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.body32{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: none;
}
.disbody4{
    z-index: 500;
    width: 100vw;
    height:79vh;
    border-top-style: solid;
    border-top-width: 0.1vh;
    margin-top: 7.2vh;
}.disbody3{
    z-index: 500;
    width: 100vw;
    height:79vh;
    border-top-style: solid;
    border-top-width: 0.1vh;
    margin-top: 7.2vh;
}
.body24{
    height: 100%;
    width: 100%;
    background-color: transparent;
}
.body34{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: none;
}

@media screen and (max-width: 950px) {
    .disbody1,.disbody2,.disbody4{
        z-index: 500;
        width: 100vw;
        height:79vh;
        border-top-style: solid;
        border-top-width: 0.1vh;
        overflow: scroll;
        background-color: transparent;
    }
    .body31, .body41, .body32, .body21, .body22,.body11,.body24,.body34{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    .pome{
        background-color: rgba(255, 255, 255, 0.85);
        height:auto;
        max-height: 70vh;
        width:90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1vh;
        border-radius: 2vw;
        padding: 5vh 5vw 5vh 5vw;
    }
    .pohme{
        text-align: center;
        font-family: 'Poppins';
        font-weight: bold;
        margin-top: 1vh;
        font-size: 4.5vh;
       
    }
    .poparame{
        height: auto;
        width: 70vw;
        overflow-y: scroll;
    }
    ul{
        padding-left:5vw;
    }
    .popme{
        text-align: left;
        font-family: 'Poppins';
    }

    .psome{
        background-color: rgba(255, 255, 255, 0.85);
        height:auto;
        max-height: 70vh;
        width:90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;
        padding: 5vh 5vw 5vh 5vw;
    }
    .psohme{
        text-align: center;
        font-family: 'Poppins';
        font-weight: bold;
        margin-top: 1vh;
        font-size: 4.5vh;
    }
    .psoparame{
        height: auto;
        width: 70vw;
        overflow-y: scroll;
    }
    ul{
        padding-left:5vw;
    }
    .psopme{
        text-align: left;
        font-family: 'Poppins';
    }
}

@media screen and (min-width: 1000px) {
    .body31, .body41,.body32,.body21,.body22,.body11,.body24,.body34{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: transparent;background-image: url("./images/img2.jpg") !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 100vw 100vh;
        background-attachment: fixed;
        justify-content: center;
        align-items: center;
    }
    .pome{
        background-color: rgba(255, 255, 255, 0.85);
        height:auto;
        max-height: 70vh;
        width:90vw;
        display: flex;
        flex-direction: column;
        border-radius: 2vw;
        padding: 5vh 5vw 5vh 5vw;
    }
    .pohme{
        text-align: center;
        font-family: 'Poppins';
        font-weight: bold;
        margin-top: 1vh;
        font-size: 4.5vh;
      
    }
    .poparame{
        height: auto;
        width: 80vw;
        margin-top: 5vh;
        overflow-y: scroll;
    }
    ul{
        padding-left:5vw;
    }
    .popme{
        text-align: left;
        font-family: 'Poppins';
    }

    .psome{
        background-color: rgba(255, 255, 255, 0.85);
        height:auto;
        max-height: 70vh;
        width:90vw;
        display: flex;
        flex-direction: column;
        border-radius: 2vw;
        padding: 5vh 5vw 5vh 5vw;
    }
    .psohme{
        text-align: center;
        font-family: 'Poppins';
        font-weight: bold;
        margin-top: 1vh;
        font-size: 4.5vh;
    }
    .psoparame{
        height: auto;
        width: 80vw;
        margin-top: 5vh;
        overflow-y: scroll;
    }
    ul{
        padding-left:5vw;
    }
    .psopme{
        text-align: left;
        font-family: 'Poppins';
    }
}