@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap');
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  *{
    padding: 0;
    margin: 0;
    font-family:'Poppins';
}
::-webkit-scrollbar{
    display: none;
}
#header{
    position: fixed;
    width:100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 7.5px 15px;
}
.header2{
    width:100%;
    background-color: #e7e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.covid{
    text-decoration: none;
    border: none;
    color: white;
    font-family: 'Ruda', sans-serif;
    text-align: center;
    font-size: 1.9vh;
    text-transform: uppercase;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.covid:hover{
    text-decoration: none;
    color: white;
}
.qq{
    padding-right:3vw;
}
#logo{
    padding: 0;
    height: 9vh;
    width: 19.5vw;
}
.btn-group{
    position: fixed;
    width:12vw;
    margin-right: 1vw;
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
    font-size: 3vw;
}
#mbtn{
    background-color: #f14a47;
    color: white;
    font-family: 'Poppins';
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}
.sec2{
    background-color: white;
    padding-top: 12.8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 950px) {
    .header1{
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .b1{
        width: 100%;
        background-color: #f14a47;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b2{
        width: 100%;
        background-color: #363636;
        height: 4.5vh;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
  }
  @media screen and (min-width: 1000px) {
    ids {
      height: 200vh;
    }
    .header1{
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .b1{
        width: 42.5%;
        background-color: #f14a47;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b2{
        width: 57.5%;
        background-color: #363636;
        height: 4.5vh;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
  }
.heading{
    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: bolder;
    margin: auto;
}
.dropdown-item{
    font-family: 'Poppins';
}
.resbtn{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.lolbtn{
  text-decoration: none;
  text-align: center;
  border: none;
  background-color: transparent;
  color:#545252;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: -0.1vh;
  font-family: 'Ruda',sans-serif;
  font-size: 2.15vh;
  padding-right:2.5vw;
  height: 100%;
  border: none;
}
.lolbtn:hover{
  text-decoration: none;
  color: #fec258;
}
  body::-webkit-scrollbar {
    display: none;
}

  .carousel-item{
   width: 100%;
   height: 48rem;
  }
  .d-block{
    
    filter: brightness(70%) blur(3px);
    -webkit-filter:brightness(70%) blur(3px);
    
    background-position: center;
    background-size: cover;
    height: 48rem;

    justify-content: center;
    align-items: center;
  }

#img1{
    background-image: url(./images/img1.jpg);
    background-position:bottom;
  }
  #img2{
    background-image: url(./images/img2.jpg);
  }
  #img3{
   background-image: url(./images/img3.jpg)
  }
  #img4{
background-image: url(./images/img4.jpg)
  }
  #img5{
background-image: url(./images/img5.JPG)
  }
  #img6{
background-image: url(./images/img6.jpg)
  }
  #img7{
background-image: url(./images/img7.JPG)
  }
  #img8{
background-image: url(./images/img8.jpg)
  }
  #img9{
background-image: url(./images/img9.jpg)
  }
  #img10{
    background-image: url(./images/img10.JPG)
  }
  #img11{
    background-image:url(./images/img11.JPG)
  }
  button{
    margin-bottom: 18rem;
  }
  .contentMain{
    color: white;
    
    position: relative;
    
    bottom: 32rem;

  }
  h3{
    font-weight: 800;
    text-align: center;
  }
   p{
    width: 80%;
    font-size: 12;
    text-align: center;
    margin-left: 12rem;
  }
  .carousel-item .ContentMain{
   z-index: 50;
   margin-bottom: 10rem;
  }

  .carousel-item img{
    z-index: 0;
  }

 .redirect{
    text-decoration: none !important;
    margin-right: 2rem;
    font-weight: 700;
    font-size: 16px;
 }
 .dropdown{
    margin-right: 1rem;
    margin-bottom: -0.3rem;
 }

 .dropdown:hover .dropdown-menu {
    display:block;
    position: absolute;
    right: 0.1rem;
    transition: 10s ease-in-out;

}
.edit1 .contentMain{
    background-color: rgba(0, 0, 0, 0.237);
    position: relative;
    bottom: 13rem; 
    text-align:justify;
    backdrop-filter: brightness(70%) blur(2px);
    -webkit-backdrop-filter: brightness(70%)  blur(3px);
    padding: 0.5rem;
   
}

.edit1 .contentMain p{
height: fit-content;
}

.edit1 img{

    filter: none;
    
    }

.carousel-control-prev{
  position: fixed;
}
.carousel-control-next{
  position: fixed;
}
