*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
#header{
    position: fixed;
    width:100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 35px;
}
.header2{
    width:100%;
    background-color: #e7e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.covid{
    text-decoration: none;
    border: none;
    color: white;
    font-family: 'Ruda', sans-serif;
    text-align: center;
    font-size: 1.9vh;
    text-transform: uppercase;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.covid:hover{
    text-decoration: none;
    color: white;
}
.qq{
    padding-right:3vw;
}
#logo{
    padding: 0;
    height: 9vh;
    width: 19.5vw;
}
.btn-group{
    position: fixed;
    width:12vw;
    margin-right: 1vw;
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
    font-size: 3vw;
}
#mbtn{
    background-color: #f14a47;
    color: white;
    font-family: 'Poppins';
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}
.sec2{
    background-color: white;
    padding-top: 12.8vh;
    width: 100%;
}

#download{
    position: fixed;
    right: 1vw;
    bottom: 1vw;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: black;
    background-color: white;
    font-family: 'Poppins';
    font-weight: 600;
    transition: 1s;
}
#download:hover{
    color: white;
    background-color: black;
}
.ids{
    width:80vw;
    margin-left: 10vw;
    box-shadow: rgba(241,74,71, 0.4) 5px 5px, rgba(241,74,71, 0.3) 10px 10px, rgba(241,74,71, 0.2) 15px 15px, rgba(241,74,71, 0.1) 20px 20px, rgba(241,74,71, 0.05) 25px 25px, rgba(241,74,71, 0.4) -5px 5px, rgba(241,74,71, 0.3) -10px 10px, rgba(241,74,71, 0.2) -15px 15px, rgba(241,74,71, 0.1) -20px 20px, rgba(241,74,71, 0.05) -25px 25px;
}
@media screen and (max-width: 950px) {
    ids {
      height: 100vh;
    }
    .header1{
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .b1{
        width: 100%;
        background-color: #f14a47;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b2{
        width: 100%;
        background-color: #363636;
        height: 4.5vh;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
  }
  @media screen and (min-width: 1000px) {
    ids {
      height: 200vh;
    }
    .header1{
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .b1{
        width: 42.5%;
        background-color: #f14a47;
        height: 4.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .b2{
        width: 57.5%;
        background-color: #363636;
        height: 4.5vh;
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
  }
.heading{
    font-family: 'Poppins';
    font-size: 2vw;
    font-weight: bolder;
    margin: auto;
}
.dropdown-item{
    font-family: 'Poppins';
}